*.html
*.pyc
dist/
old_dist/
build/
*.egg-info/
*.code-workspace
.vscode/
.ipynb_checkpoints/
*/__pycache__/
*/.ipynb_checkpoints/
*/.vscode/
.tox/
*Untitled.ipynb
.coverage*
.coverage
.idea
conda/
github-pages-tmp/
!index.html
!template.html
docs/sphinx/source/index.md
venv
.DS_Store